LinkedView/bin/
LinkedView/bundle/
LinkedView/applet/
LinkedView/target/
LinkedView/dist/
LinkedView/doc/html/
*~
jtv-website/examples/spellman.jtv
jtv-website/examples/threshold.jtv
LinkedView/doc/JTVProgrammerGuide/JTVProgrammerGuide.fo
LinkedView/doc/JTVUserManual/JTVUserManual.fo
LinkedView/docbook
*.pdf

# Gradle
.gradle
build
out/

# Preferences
prefs.xml
*.swp

# OS Stuff
.DS_Store
\#*
.#*

# Eclipse stuff
.project
.settings
.metadata
.classpath
/bin/
/build/

# IDEA
.idea
*.iml
*.ipr
*.iws

# Temporary junk files
fix_control.pl
build.gradle-setupbuilder
build.gradle-nebula
