app.LinkedView/bin/
app.LinkedView/bundle/
app.LinkedView/applet/
app.LinkedView/target/
app.LinkedView/dist/
app.LinkedView/doc/html/
*~
jtv-website/examples/spellman.jtv
jtv-website/examples/threshold.jtv
app.LinkedView/doc/JTVProgrammerGuide/JTVProgrammerGuide.fo
app.LinkedView/doc/JTVUserManual/JTVUserManual.fo
app.LinkedView/docbook
*.pdf

# Gradle
.gradle
build
out/

# Preferences
prefs.xml
*.swp

# OS Stuff
.DS_Store
\#*
.#*

# Eclipse stuff
.project
.settings
.metadata
.classpath
/bin/
/build/

# IDEA
.idea
*.iml
*.ipr
*.iws

# Temporary junk files
fix_control.pl
build.gradle-setupbuilder
build.gradle-nebula
