[Desktop Entry]
Name=app.TreeView3
Exec=treeview3
Icon=/usr/local/treeview3/desktop/logo.png
Type=Application
Comment=Clustering heatmap viewer
Terminal=false
Categories=GNOME;GTK;
